#toc_container {
background: #f9f9f9 none repeat scroll 0 0;
border: 1px solid #aaa;
display: table;
font-size: 100%;
margin-bottom: 0em;
padding: 0px;
width: 50.0%;
}
.toc_title {
font-weight: 700;
text-align: left;
margin-top: 0.75em;
margin-left: 0em;
padding: 0px;
}
#toc_container li, #toc_container ul, #toc_container ul li{
list-style: outside none none !important;
}
